@charset "utf-8";
body{
	color: #121212;	
	border: 1px solid #595959;
	background: #A3A1A1;	
	}
	#wrapper{
	width: 1500px;
	margin-left: auto;
	margin-right: auto;	
	
	border-radius: 25px;
	
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);	
	}
	header{
		width: 1500px;
		height: 210px;
		border-radius: 25px 25px 0px 0px;
		border: 3px solid #000;
		background: #1F99CF;
	}
	navigation{
		width: 1500px;
		height: 120px;
		fill: #DBB;
		stroke-width: 1px;
		stroke: #000;
	}
	main{
	float: left;
		
	width: 1500px;
		
	border: 1px solid #595959;
	
	}
	
	footer{
		clear:both;
		width: 1500px;
		height: 100px;
		border-radius: 0px 0px 25px 25px;
		background-color: #1F99CF;
	}
	h1{
		text-align: center;
color: #F5F5F5;
font-family: "Island Moments";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
padding-top: 20px;
	}
	footer h4
	{
	padding-top: 55px;	
	color: #FAFAFA;
	text-align: center;
	}
	
	
	
section	ul 
	{
	list-style: url("images/bullets.png")	
		
	}
section ul
	{
	background-color:#E4D9D9;
		
	}
section ul
	{
	list-style-position: outside;
	}
	
nav ul
	
	{
		list-style-type: none;
		margin-bottom:  20px;
		padding: 0;
		
	}
nav	li a {
		
		background-color: #FBF3F3;
		padding: 0px 2px;
	
		text-decoration: underline;
	}
	
nav	li 
	{
		display: inline;
		font-size: 31.87px;
	}
	
	a:link{
	text-decoration: none;
	background-color: #FAEEEE;
	border: thin solid;
	border-color: #560708;
	width: 150px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;	
	color:#6B5BF4;
		
		
		
		
		
		
	}
	a:visited{
	text-decoration: none;
	background-color: #FAEEEE;
	border: thin solid;
	border-color: #560708;
	width: 150px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;	
	color:#6B5BF4;	
	}
	
	a:hover{
	text-decoration: underline;	
	background-color: #6B5BF4;
	border: thin solid;
	border-color: #560708;
	width: 150px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;	
	color:#FAEEEE;
	}
	
	a:active{
	color:red;
	text-decoration: none;
	background-color: #545252;
	border: thin solid;
	border-color: #560708;
	width: 150px;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;	
		
	}
	
	
	
	
	
	
	
	
	
	
	
	